@{
    ViewData["Title"] = "Admin - Edit";
}


<div class="container-fluid">
    <h1 class="display-1">Sliders</h1>
    <a asp-asp-controller="Manage" asp-action="CreateSlider">Create Slider</a>
</div>