@{
    ViewData["Title"] = "AllUp";
}

<!--====== Slider Part Start ======-->

<section class="slider-area slider-active">
    <div class="single-slider">
        <div class="slider-image">
            <img src="/assets/images/slider-1.jpg" alt="slider">
        </div>
        <div class="slider-content-wrapper">
            <div class="container-fluid custom-container">
                <div class="slider-content">
                    <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save $120 when you buy</h4>
                    <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>2020 Virtual Reality </span> Fulldive VR.</h1>
                    <p data-animation="fadeInRightBig" data-delay="0.5s">Explore and immerse in exciting 360 content with Fulldive’s all-in-one virtual reality platform</p>
                    <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                </div>
            </div> <!-- container -->
        </div>
    </div> <!-- single slider -->
    <div class="single-slider">
        <div class="slider-image">
            <img src="/assets/images/slider-2.jpg" alt="slider">
        </div>
        <div class="slider-content-wrapper">
            <div class="container-fluid custom-container">
                <div class="slider-content">
                    <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save $120 when you buy</h4>
                    <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>4K HDR Smart TV 43 </span> Sony Bravia.</h1>
                    <p data-animation="fadeInRightBig" data-delay="0.5s">Explore and immerse in exciting 360 content with Fulldive’s all-in-one virtual reality platform</p>
                    <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                </div>
            </div> <!-- container -->
        </div>
    </div> <!-- single slider -->
</section>



<!--====== Banner Part Start ======-->

<div class="banner-area banner-bg">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-image">
                    <a href="shop-4-column.html"><img src="/assets/images/banner-1.png" alt="banner"></a>
                </div> <!-- banner image -->
            </div>
            <div class="col-md-6">
                <div class="banner-image">
                    <a href="shop-4-column.html"><img src="/assets/images/banner-2.png" alt="banner"></a>
                </div> <!-- banner image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Banner Part Ends ======-->


 <!--====== Category Part Start ======-->

 <section class="category-area category-bg pt-100 pb-100">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">Featured Categories</h2>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="row category-active">
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-1.jpg" alt="category">
                            <p>Laptop</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-2.jpg" alt="category">
                            <p>Computer</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-3.jpg" alt="category">
                            <p>Smartphone</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-4.jpg" alt="category">
                            <p>Game Consoles</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-5.jpg" alt="category">
                            <p>Bottoms</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-6.jpg" alt="category">
                            <p>Tops & Sets</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-7.jpg" alt="category">
                            <p>Audio & Video</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-8.jpg" alt="category">
                            <p>Accessories</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-9.jpg" alt="category">
                            <p>Camera</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-10.jpg" alt="category">
                            <p>Accessories</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-11.jpg" alt="category">
                            <p> Games & Consoles </p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-12.jpg" alt="category">
                            <p>Video Games</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-1.jpg" alt="category">
                            <p>Tops & Sets</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="/assets/images/category-2.jpg" alt="category">
                            <p>Bottoms</p>
                        </a>
                    </div> <!-- single category -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

 <!--====== Category Part Ends ======-->
